{
  "extends": "../.eslintrc",
  "env": {
    "mocha": true
  },
  "rules": {
    "no-unused-vars": 0
  },
  "plugins": ["ejs"],
  "globals": {
    "expect": false,
    "should": false,
    "sinon": false
  }
}
